<h1>Department</h1>
<% if @branches.count > 0 %>
  <%= render 'branches/branch' %>
<% else %>
  <h4>No Subject entered</h4>
<% end %>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<h1>Faculties</h1>
<% if @faculties.count > 0 %>
  <%= render 'faculties/faculty' %>
<% else %>
  <h4>No Subject entered</h4>
<% end %>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<h1>Subjects</h1>
<% if @subjects.count > 0 %>
  <%= render 'subjects/subject' %>
<% else %>
  <h4>No Subject entered</h4>
<% end %>
<br style="height:2px;border-width:0;color:gray;background-color:gray">
