@import "font-awesome";

table {
  overflow: auto;
}

#faculty_branch_id,
#subject_branch_id,
#subject_semester,
#faculty_subject_id {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}


th:last-child{ width: 50px; }